$primary: #673ab7;

.section-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #101325;

    &::before {
        position: absolute;
        content: "";
        top: 32px;
        border-bottom: 3px solid $primary;
        width: 100px;
    }
}

.view-all-link {
    color: #101325;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif !important;
}
.txt-primary {
    color: $primary;

    &:hover {
        color: $primary !important;
    }
}
