$primary: #673ab7;

html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.section-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #101325;
    font-family: "Inter", sans-serif !important;

    &::before {
        position: absolute;
        content: "";
        top: 32px;
        border-bottom: 3px solid $primary;
        width: 100px;
    }
}

.view-all-link {
    color: #101325;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif !important;
}

.txt-primary {
    color: $primary;

    &:hover {
        color: $primary !important;
    }
}

.slide-title {
    font-weight: 700;
    font-family: "Inter", sans-serif;
    letter-spacing: 1.5px;
}
.slide-sub-title {
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

// .img-zoom-wrapper {
//     ngx-image-zoom {
//         .ngxImageZoomContainer {
//             width: 100% !important;
//             height: 500px !important;
//         }
//     }
// }
// .ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
//     border: 2px solid white !important;
//     cursor: crosshair;
// }
.ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
    border: 2px solid transparent !important;
    cursor: crosshair;
}
