<mat-card class="item-cart">
  <div class="form-row">
    <div class="col-12 d-flex justify-content-between">
      <div class="my-auto">
        <div class="">
          <img [src]="item.img" class="cart-img" alt="">
        </div>
      </div>
      <div class="my-auto text-center" style="width: 30%;">
        <p class="item-name">{{item.item}}</p>
        <p class="item-name">{{item.price | currency}}</p>
      </div>
      <div class="my-auto">
        <div class="d-flex">
          <button mat-icon-button (click)="doActions('decrease')">
            <mat-icon>remove</mat-icon>
          </button>
          <div class="form-group mb-0">
            <input type="text" min="1" class="form-control form-control-custom" [(ngModel)]="item.qty">
          </div>
          <button mat-icon-button (click)="doActions('increase')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="my-auto">
        <button class="close-button" mat-icon-button (click)="doActions('remove')">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>