<div #main_nav class="mat-app-background basic-container shadow-sm main-nav">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="">
        <button mat-button routerLink="/home" [ngClass]="{'nav-active': activePage == 'home'}">Home</button>
        <button mat-button routerLink="/product" [ngClass]="{'nav-active': activePage == 'product'}">Products</button>
        <button mat-button routerLink="/services" [ngClass]="{'nav-active': activePage == 'services'}">Services</button>
        <button mat-button routerLink="/contact" [ngClass]="{'nav-active': activePage == 'contact'}">Contact</button>
        <button mat-button routerLink="/full-page-scroll"
          [ngClass]="{'nav-active': activePage == 'full-page-scroll'}">Full Page Scroll</button>
      </div>
      <div class="">
        <button mat-button><span class="material-icons">search</span></button>
        <button mat-button><span class="material-icons" routerLink="/cart"
            [ngClass]="{'nav-active': activePage == 'cart'}">local_mall</span></button>
        <button mat-button><span class="material-icons">person</span></button>
        <button mat-button><span class="material-icons">brightness_2</span></button>
      </div>
    </div>

  </div>
</div>

<div class="mobile-nav position-relative">
  <button mat-button class="nav-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
</div>