<div #main_nav class="mat-app-background basic-container shadow-sm main-nav">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="">
        <button mat-button routerLink="/home" [ngClass]="{'nav-active': activePage == 'home'}">Home</button>
        <button mat-button routerLink="/product" [ngClass]="{'nav-active': activePage == 'product'}">Products</button>
        <button mat-button routerLink="/services" [ngClass]="{'nav-active': activePage == 'services'}">Services</button>
        <button mat-button routerLink="/contact" [ngClass]="{'nav-active': activePage == 'contact'}">Contact</button>
      </div>
      <div class="">
        <button mat-button><span class="material-icons">search</span></button>
        <button mat-button><span class="material-icons" routerLink="/cart"
            [ngClass]="{'nav-active': activePage == 'cart'}">local_mall</span></button>
        <button mat-button [matMenuTriggerFor]="userMenu"><span class="material-icons">person</span></button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item routerLink="/dashboard">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
          </button>
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>

  </div>
</div>

<div class="mobile-nav position-relative">
  <button mat-button class="nav-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
</div>