/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/scss/menu-custom";
@import "./assets/scss/typography";
@import "./assets/scss/button";
@import "./assets/scss/color-scheme";
@import "./assets/scss/input-custom";

html {
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  margin: 0;
}

/* Fixed conflict with Boostrap 4 style */
button {
  &:focus {
    outline: 0px !important;
  }
}
