$primary: #673ab7;

.example-full-width {
    min-width: 200px;
    max-width: 300px;
    display: block;
}
.home-slider {
    display: block;
    width: 100%;
    max-height: calc(100vh - 66px);
    min-height: calc(100vh - 66px);
    object-fit: cover;
    object-position: center center;
}

.getting-start-img {
    width: 100%;
    margin-bottom: 35px;
}
.card-pricing {
    min-height: 100%;
    border: 2px solid transparent;
    transition: 0.3s ease;
    &:hover {
        border: 2px solid $primary !important;
        transition: 0.3s ease;
    }
    .card-content {
        min-height: 330px;
    }
}
.pricing-img {
    width: 100%;
    height: 230px;
}
.service-card-header {
    background-color: $primary;
    color: #ffffff;
}
